

.controlPanel{
  
    .generationsNumber{
        color: #FF9E03
    } 

    .titleApostrophe {
        color:  #FF9E03
    }

    .adjustText {
        color: #FF9E03
    }

    #lgPrimaryControls {
        max-height: 186px;
    }
}