
.controlPanel{
   /*  h1#controlPanelSiteTitle {
        color: white;
        font-size: 4vw;
    }
 */
    /* #controlPanelSiteTitleContainer {
        color: white;
    } */

    h1#generationsHeading {
        //color: white;
        font-size: 7vw !important;

        @media(min-width: 992px){
            font-size: 3vw !important;
        }
        @media(min-width: 1200px){
            font-size: 2vw !important;
        }
    }

    .generationsNumber{
        color: #FF9E03
    } 

    .titleApostrophe {
        color:  #FF9E03
    }

    .adjustText {
        color: #FF9E03
    }

    #lgPrimaryControls {
        max-height: 186px;
    }
}