

.siteTitle {
    color: white;
    font-size: 4vw;
}

.generations {
    color: white;
    font-size: 7vw;
}

.generationsNumber{
    color: #FF9E03
} 

.controlPanel {

}

.titleApostrophe {
    color:  #FF9E03
}

.adjustText {
    color: #FF9E03
}