.footerContainer {
    background-image: linear-gradient(#1C0D30,#51258A);
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .sun {
      animation: sun-rotate infinite 30s linear
    }
  }
  
  @keyframes sun-rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }